body
{
    background-color: lightcoral;
}

h1
{
    text-align: center;
}

#a_logging_in
{
    padding-top: 400px;
    
    text-align: right;
    font: 28px Arial, sans-serif;
}

#a_download_link
{
    text-align: left justify;
    padding-top: 250 px;
}

#download_info
{
    font: 20px Arial, sans-serif;
}

#future_updates
{
    text-align: center;
    padding-top: 500px;
}